USE [master]
GO
/****** Object:  Database [QUANLYBENHVIENN]    Script Date: 4/18/2022 10:58:04 AM ******/
CREATE DATABASE [QUANLYBENHVIENN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBENHVIENN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUANLYBENHVIENN.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYBENHVIENN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUANLYBENHVIENN_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBENHVIENN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBENHVIENN]
GO
/****** Object:  Table [dbo].[BACSI]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACSI](
	[MABS] [nvarchar](6) NOT NULL,
	[MAKHOA] [nvarchar](6) NULL,
	[MACV] [nvarchar](6) NULL,
	[HOTENBS] [nvarchar](100) NULL,
	[GIOITINHBS] [nvarchar](10) NULL,
	[CMNDBS] [nvarchar](12) NULL,
	[DIACHIBS] [nvarchar](100) NULL,
	[NGAYSINHBS] [datetime] NULL,
	[SDTBS] [nvarchar](10) NULL,
	[LUONGBS] [float] NULL,
 CONSTRAINT [PK_BACSI] PRIMARY KEY CLUSTERED 
(
	[MABS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABC] [nvarchar](6) NOT NULL,
	[MANV] [nvarchar](6) NULL,
	[TENBC] [nvarchar](100) NULL,
	[NGAYLAP] [datetime] NULL,
	[CHUTHICH] [nvarchar](100) NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [nvarchar](6) NOT NULL,
	[MADT] [nvarchar](6) NULL,
	[HOTENBN] [nvarchar](100) NULL,
	[GIOITINHBN] [nvarchar](10) NULL,
	[CMNDBN] [nvarchar](12) NULL,
	[DIACHIBN] [nvarchar](100) NULL,
	[NGAYSINHBN] [datetime] NULL,
	[SDTBN] [nvarchar](10) NULL,
	[EMAILBN] [nvarchar](50) NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nvarchar](6) NOT NULL,
	[MATHUOC] [nvarchar](6) NOT NULL,
	[SOLUONG] [int] NULL,
	[DGBAN] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nvarchar](6) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOITUONG]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITUONG](
	[MADT] [nvarchar](6) NOT NULL,
	[TENDT] [nvarchar](100) NULL,
	[MIENGIAM] [float] NULL,
	[DIEUKIEN] [nvarchar](100) NULL,
 CONSTRAINT [PK_DOITUONG] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONVIENPHI]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONVIENPHI](
	[MAHD] [nvarchar](6) NOT NULL,
	[MABN] [nvarchar](6) NULL,
	[MANV] [nvarchar](6) NULL,
	[NGAYKHAM] [datetime] NULL,
	[NGAYLAYTHUOC] [datetime] NULL,
	[HTTT] [nvarchar](20) NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_HOADONVIENPHI] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOSOBENHAN]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOBENHAN](
	[MAHS] [nvarchar](6) NOT NULL,
	[MABN] [nvarchar](6) NULL,
	[MAKHOA] [nvarchar](6) NULL,
	[MAPDT] [nvarchar](6) NULL,
	[PHUONGPHAPDIEUTRI] [nvarchar](100) NULL,
	[PHANUNGPHU] [nvarchar](50) NULL,
	[KETQUA] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOSOBENHAN] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOSOTHUOC]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOTHUOC](
	[MATHUOC] [nvarchar](6) NOT NULL,
	[MANCC] [nvarchar](6) NULL,
	[TENTHUOC] [nvarchar](50) NULL,
	[NGAYSX] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[NGAYMUA] [datetime] NULL,
	[SLTHUOC] [int] NULL,
	[DVT] [nvarchar](20) NULL,
	[DGNHAP] [float] NULL,
 CONSTRAINT [PK_HOSOTHUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nvarchar](6) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
	[SDTKHOA] [nvarchar](10) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](6) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[WEBSITE] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](6) NOT NULL,
	[MAPH] [nvarchar](6) NULL,
	[MACV] [nvarchar](6) NULL,
	[HOTENNV] [nvarchar](100) NULL,
	[GIOITINHNV] [nvarchar](10) NULL,
	[CMNDNV] [nvarchar](12) NULL,
	[DIACHINV] [nvarchar](100) NULL,
	[NGAYSINHNV] [datetime] NULL,
	[SDTNV] [nvarchar](10) NULL,
	[EMAILNV] [nvarchar](50) NULL,
	[LUONGNV] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDIEUTRI]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDIEUTRI](
	[MAPDT] [nvarchar](6) NOT NULL,
	[MABN] [nvarchar](6) NULL,
	[NGAYKHAM] [datetime] NULL,
	[MOTA] [ntext] NULL,
	[KETLUAN] [ntext] NULL,
 CONSTRAINT [PK_PHIEUDIEUTRI] PRIMARY KEY CLUSTERED 
(
	[MAPDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGCHUCNANG]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHUCNANG](
	[MAPH] [nvarchar](6) NOT NULL,
	[TENPH] [nvarchar](50) NULL,
	[SDTPH] [nvarchar](10) NULL,
 CONSTRAINT [PK_PHONGCHUCNANG] PRIMARY KEY CLUSTERED 
(
	[MAPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDN] [nvarchar](20) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[TENTK] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOATHUOC]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOATHUOC](
	[MAPDT] [nvarchar](6) NOT NULL,
	[MABN] [nvarchar](6) NOT NULL,
	[MABS] [nvarchar](6) NOT NULL,
	[MATHUOC] [nvarchar](6) NOT NULL,
	[SOLAN] [int] NULL,
	[LIEULUONG] [nvarchar](20) NULL,
 CONSTRAINT [PK_TOATHUOC] PRIMARY KEY CLUSTERED 
(
	[MAPDT] ASC,
	[MABN] ASC,
	[MABS] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YTA]    Script Date: 4/18/2022 10:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YTA](
	[MAYT] [nvarchar](6) NOT NULL,
	[MAKHOA] [nvarchar](6) NULL,
	[MACV] [nvarchar](6) NULL,
	[HOTENYT] [nvarchar](100) NULL,
	[GIOITINHYT] [nvarchar](10) NULL,
	[CMNDYT] [nvarchar](12) NULL,
	[DIACHIYT] [nvarchar](100) NULL,
	[NGAYSINHYT] [datetime] NULL,
	[SDTYT] [nvarchar](10) NULL,
	[LUONGYT] [float] NULL,
 CONSTRAINT [PK_YTA] PRIMARY KEY CLUSTERED 
(
	[MAYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BACSI]  WITH CHECK ADD  CONSTRAINT [FK_BACSI_MACV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[BACSI] CHECK CONSTRAINT [FK_BACSI_MACV]
GO
ALTER TABLE [dbo].[BACSI]  WITH CHECK ADD  CONSTRAINT [FK_BACSI_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BACSI] CHECK CONSTRAINT [FK_BACSI_MAKHOA]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_MANV]
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHNHAN_MADT] FOREIGN KEY([MADT])
REFERENCES [dbo].[DOITUONG] ([MADT])
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [FK_BENHNHAN_MADT]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MAHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONVIENPHI] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_MAHD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MATHUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[HOSOTHUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_MATHUOC]
GO
ALTER TABLE [dbo].[HOADONVIENPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOADONVIENPHI_MABN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[HOADONVIENPHI] CHECK CONSTRAINT [FK_HOADONVIENPHI_MABN]
GO
ALTER TABLE [dbo].[HOADONVIENPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOADONVIENPHI_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONVIENPHI] CHECK CONSTRAINT [FK_HOADONVIENPHI_MANV]
GO
ALTER TABLE [dbo].[HOSOBENHAN]  WITH CHECK ADD  CONSTRAINT [FK_HOSOBENHAN_MABN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[HOSOBENHAN] CHECK CONSTRAINT [FK_HOSOBENHAN_MABN]
GO
ALTER TABLE [dbo].[HOSOBENHAN]  WITH CHECK ADD  CONSTRAINT [FK_HOSOBENHAN_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[HOSOBENHAN] CHECK CONSTRAINT [FK_HOSOBENHAN_MAKHOA]
GO
ALTER TABLE [dbo].[HOSOBENHAN]  WITH CHECK ADD  CONSTRAINT [FK_HOSOBENHAN_MAPDT] FOREIGN KEY([MAPDT])
REFERENCES [dbo].[PHIEUDIEUTRI] ([MAPDT])
GO
ALTER TABLE [dbo].[HOSOBENHAN] CHECK CONSTRAINT [FK_HOSOBENHAN_MAPDT]
GO
ALTER TABLE [dbo].[HOSOTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_HOSOTHUOC_MANCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOSOTHUOC] CHECK CONSTRAINT [FK_HOSOTHUOC_MANCC]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MACV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MACV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MAPH] FOREIGN KEY([MAPH])
REFERENCES [dbo].[PHONGCHUCNANG] ([MAPH])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MAPH]
GO
ALTER TABLE [dbo].[PHIEUDIEUTRI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDIEUTRI_MABN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[PHIEUDIEUTRI] CHECK CONSTRAINT [FK_PHIEUDIEUTRI_MABN]
GO
ALTER TABLE [dbo].[TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_TOATHUOC_MABN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[TOATHUOC] CHECK CONSTRAINT [FK_TOATHUOC_MABN]
GO
ALTER TABLE [dbo].[TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_TOATHUOC_MABS] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSI] ([MABS])
GO
ALTER TABLE [dbo].[TOATHUOC] CHECK CONSTRAINT [FK_TOATHUOC_MABS]
GO
ALTER TABLE [dbo].[TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_TOATHUOC_MAPDT] FOREIGN KEY([MAPDT])
REFERENCES [dbo].[PHIEUDIEUTRI] ([MAPDT])
GO
ALTER TABLE [dbo].[TOATHUOC] CHECK CONSTRAINT [FK_TOATHUOC_MAPDT]
GO
ALTER TABLE [dbo].[TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_TOATHUOC_MATHUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[HOSOTHUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[TOATHUOC] CHECK CONSTRAINT [FK_TOATHUOC_MATHUOC]
GO
ALTER TABLE [dbo].[YTA]  WITH CHECK ADD  CONSTRAINT [FK_YTA_MACV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[YTA] CHECK CONSTRAINT [FK_YTA_MACV]
GO
ALTER TABLE [dbo].[YTA]  WITH CHECK ADD  CONSTRAINT [FK_YTA_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[YTA] CHECK CONSTRAINT [FK_YTA_MAKHOA]
GO
ALTER TABLE [dbo].[BACSI]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINHBS_BACSI] CHECK  (([GIOITINHBS]=N'Khác' OR [GIOITINHBS]=N'Nữ' OR [GIOITINHBS]=N'Nam'))
GO
ALTER TABLE [dbo].[BACSI] CHECK CONSTRAINT [CK_GIOITINHBS_BACSI]
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINHBN_BENHNHAN] CHECK  (([GIOITINHBN]=N'Khác' OR [GIOITINHBN]=N'Nữ' OR [GIOITINHBN]=N'Nam'))
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [CK_GIOITINHBN_BENHNHAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINHNV_NHANVIEN] CHECK  (([GIOITINHNV]=N'Khác' OR [GIOITINHNV]=N'Nữ' OR [GIOITINHNV]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GIOITINHNV_NHANVIEN]
GO
ALTER TABLE [dbo].[YTA]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINHYT_YTA] CHECK  (([GIOITINHYT]=N'Khác' OR [GIOITINHYT]=N'Nữ' OR [GIOITINHYT]=N'Nam'))
GO
ALTER TABLE [dbo].[YTA] CHECK CONSTRAINT [CK_GIOITINHYT_YTA]
GO
USE [master]
GO
